name: Deploy-to-Server

# Trigger deployment only on push to main branch
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh

          echo "${{ secrets.SERVER_SSH }}" > private_key.pem
          chmod 600 private_key.pem
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Execute SSH Command
        run: |
          eval "$(ssh-agent -s)"
          set -x  # Ativa o modo de depuração
          ssh-add private_key.pem
          ssh -i private_key.pem ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "

            cd /var/www/instances/${{ secrets.TARGET_DIR }};

            sudo git checkout .;
            sudo git checkout main;
            sudo git pull;

            # Lê o .env.sample e adiciona ao .env
            if [ -f .env ]; then
              rm .env
              echo "Arquivo .env apagado com sucesso!"
            fi
            echo "ENVKEY=${{ secrets.ENVKEY }}" > .env
            echo "LAST_DEPLOY=$(date '+%Y-%m-%d %H:%M:%S')" >> .env

            echo "Instalando pacotes npm...";
            sudo npm install;
            echo "Pacotes instalados!";

            echo "Gerando build...";
            sudo npm run build;
            echo "Build Gerado!";

            echo "Stopping...";
            pm2 stop ${{ secrets.TARGET_DIR }};
            echo "Starting...";
            pm2 start ${{ secrets.TARGET_DIR }};
            echo "Saving...";
            pm2 save;
            echo "Saved!";
          "
